<div ng-init="getAllFeeds(); initializeLandingPage();"></div>

<!--
Filter references

http://www.encodedna.com/angularjs/tutorial/show-descending-date-in-angular-using-ngrepeat-orderby-filter.htm

https://docs.angularjs.org/api/ng/filter/date
-->


<div ng-repeat="feed in feedList | filter:search_query | orderBy: '-published' | limitTo:feedLimit">
    <div class="card">
        <div class="card-content">
            <span class="card-title">{{feed.feed.name}} - {{feed.title}} </span>

            <p ng-bind-html="feed.content "></p>
        </div>

        <div class="card-action">
            <span>{{feed.author}}</span>
            <span>{{feed.published | date: "fullDate"}} {{feed.published | date: "mediumTime"}}</span>
            <a ng-href="{{feed.link}}">Click here for more!</a>
        </div>
    </div>
</div>