<div ng-init="getAllArticles(); initializeLandingPage();"></div>

<!--
Filter references

http://www.encodedna.com/angularjs/tutorial/show-descending-date-in-angular-using-ngrepeat-orderby-filter.htm

https://docs.angularjs.org/api/ng/filter/date
-->
<div ng-repeat="article in articleList | filter:search_query | orderBy: '-published' | limitTo:articleLimit">
    <div class="card">
        <div class="card-content">
            <span class="card-title">{{article.feed.name}} - {{article.title}} </span>
            <p ng-bind-html="article.testImage"></p>
            <p ng-bind-html="article.content"></p>
        </div>

        <div class="card-action">
            <span>{{article.author}}</span>
            <span>{{article.published | date: "fullDate"}} {{article.published | date: "mediumTime"}}</span>
            <a ng-href="{{article.link}}">Click here for more!</a>
        </div>
    </div>
</div>